.body{
  padding:80px 120px;
  background:#EAE7DC;
  min-height:100vh;
}

.Headings h1{
  font-size:2.2rem;
  margin-bottom:30px;
  color:#E85A4F;
}


.tableContainer{
  background:white;
  padding:30px;
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

table{
  width:100%;
  border-collapse:collapse;
}


thead{
  background:#D8C3A5;
}

th{
  padding:14px;
  text-align:left;
  font-weight:600;
}

th h1{
  font-weight: 700;
  font-size: 20px;
  
}

td{
  padding:14px;
  border-bottom:1px solid #eee;
  color:#555;
}


.tableContainer tbody tr:hover{
  background:#f9f7f4;
}